In [1]:
import pandas as pd

# Load the dataset
data = pd.read_csv('/Users/yujinlee/Google_Drive/NYU/Fall_2023/Capstone/CrimeData/clean/nyc_la_stata.csv')
data = data.loc[:, ~data.columns.str.contains('^Unnamed')]

# Display the first few rows of the dataframe to understand its structure
data.head()

,week,ZCTA5CE10,total_count,total_population,crime_rate,e/pop_rate,un_rate,p_rate,in_median,in_mean,week_no,case_count,percent_black,treated,post
0,2018-01-07,10001,99.0,27004.0,36.661235,67.8,4.5,13.3,88526.0,151628.0,1,0.0,0.090458,1,0
1,2018-01-14,10001,104.0,27004.0,38.512813,67.8,4.5,13.3,88526.0,151628.0,2,0.0,0.090458,1,0
2,2018-02-04,10001,97.0,27004.0,35.920604,67.8,4.5,13.3,88526.0,151628.0,5,0.0,0.090458,1,0
3,2018-02-11,10001,104.0,27004.0,38.512813,67.8,4.5,13.3,88526.0,151628.0,6,0.0,0.090458,1,0
4,2018-02-18,10001,106.0,27004.0,39.253444,67.8,4.5,13.3,88526.0,151628.0,7,0.0,0.090458,1,0

In [2]:
from datetime import datetime

# Convert the week column to datetime format
data['week'] = pd.to_datetime(data['week'])

# Define the event date for the bail reform
event_date = datetime(2020, 1, 1)

# Calculate the number of weeks relative to the event date
data['weeks_from_event'] = (data['week'] - event_date).dt.days / 7
data['weeks_from_event'] = data['weeks_from_event'].round()

# Create dummy variables for the three weeks before and three weeks after the event
# Note: The fourth week before the event is the reference period (no dummy needed)
for i in range(-3, 4):
    if i != -4:  # Skip the reference week
        data[f'event_week{i}'] = (data['weeks_from_event'] == i).astype(int)

KeyError: "['event_week_-3', 'event_week_-2', 'event_week_-1', 'event_week_1', 'event_week_2', 'event_week_3'] not in index"

In [3]:
data[['week', 'weeks_from_event', 'event_week-3', 'event_week-2', 'event_week-1', 'event_week1', 'event_week2', 'event_week3']].head()

,week,weeks_from_event,event_week-3,event_week-2,event_week-1,event_week1,event_week2,event_week3
0,2018-01-07,-103.0,0,0,0,0,0,0
1,2018-01-14,-102.0,0,0,0,0,0,0
2,2018-02-04,-99.0,0,0,0,0,0,0
3,2018-02-11,-98.0,0,0,0,0,0,0
4,2018-02-18,-97.0,0,0,0,0,0,0

In [7]:
data[data['event_week0'] != 0]

,week,ZCTA5CE10,total_count,total_population,crime_rate,e/pop_rate,un_rate,p_rate,in_median,in_mean,...,treated,post,weeks_from_event,event_week-3,event_week-2,event_week-1,event_week0,event_week1,event_week2,event_week3
101,2019-12-29,10001,94.0,27004.0,34.809658,67.8,4.5,13.3,88526.0,151628.0,...,1,0,-0.0,0,0,0,1,0,0,0
231,2019-12-29,10002,96.0,76518.0,12.546068,50.5,7.0,27.7,35859.0,68315.0,...,1,0,-0.0,0,0,0,1,0,0,0
361,2019-12-29,10003,79.0,53877.0,14.663029,63.3,5.7,8.5,112131.0,189885.0,...,1,0,-0.0,0,0,0,1,0,0,0
491,2019-12-29,10004,13.0,4579.0,28.390478,76.8,4.5,2.2,157645.0,218650.0,...,1,0,-0.0,0,0,0,1,0,0,0
621,2019-12-29,10005,13.0,8801.0,14.771049,87.2,3.1,9.5,173333.0,208186.0,...,1,0,-0.0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40367,2019-12-29,91604,31.0,32073.0,9.665451,69.1,8.6,6.3,103470.0,159114.0,...,0,0,-0.0,0,0,0,1,0,0,0
40497,2019-12-29,91605,54.0,51654.0,10.454176,57.0,7.3,20.3,47000.0,64913.0,...,0,0,-0.0,0,0,0,1,0,0,0
40627,2019-12-29,91606,35.0,43552.0,8.036370,59.9,7.0,18.4,46397.0,64775.0,...,0,0,-0.0,0,0,0,1,0,0,0
40757,2019-12-29,91607,21.0,30734.0,6.832824,64.9,8.9,10.7,62139.0,91120.0,...,0,0,-0.0,0,0,0,1,0,0,0
40886,2019-12-29,91801,0.0,53320.0,0.000000,59.1,5.2,14.3,55832.0,77641.0,...,0,0,-0.0,0,0,0,1,0,0,0

In [6]:
data.to_csv('/Users/yujinlee/Google_Drive/NYU/Fall_2023/Capstone/CrimeData/clean/nyc_la_eventstudy_stata.csv', index=False)

# eventstudy 2

In [11]:
# Load the dataset
data2 = pd.read_csv('/Users/yujinlee/Google_Drive/NYU/Fall_2023/Capstone/CrimeData/clean/nyc_seattle_stata.csv')
data2 = data2.loc[:, ~data2.columns.str.contains('^Unnamed')]


# Display the first few rows of the dataframe to understand its structure
data2.head()

,week,ZCTA5CE10,total_count,total_population,crime_rate,e/pop_rate,un_rate,p_rate,in_median,in_mean,week_no,case_count,percent_black,treated,post,year,e/pop,y_hat
0,2020-07-05,10001,80.0,27004.0,29.625241,67.8,4.5,13.3,88526.0,151628.0,131,0.0,0.090458,1,0,NaN,NaN,NaN
1,2020-07-12,10001,69.0,27004.0,25.551770,67.8,4.5,13.3,88526.0,151628.0,132,0.0,0.090458,1,0,NaN,NaN,NaN
2,2020-07-19,10001,77.0,27004.0,28.514294,67.8,4.5,13.3,88526.0,151628.0,133,0.0,0.090458,1,0,NaN,NaN,NaN
3,2020-07-26,10001,73.0,27004.0,27.033032,67.8,4.5,13.3,88526.0,151628.0,134,0.0,0.090458,1,0,NaN,NaN,NaN
4,2020-08-02,10001,101.0,27004.0,37.401866,67.8,4.5,13.3,88526.0,151628.0,135,0.0,0.090458,1,0,NaN,NaN,NaN

In [12]:
# Convert the week column to datetime format
data2['week'] = pd.to_datetime(data2['week'])

# Define the event date for the bail reform
event_date2 = datetime(2022, 5, 1)

# Calculate the number of weeks relative to the event date
data2['weeks_from_event'] = (data2['week'] - event_date2).dt.days / 7
data2['weeks_from_event'] = data2['weeks_from_event'].round()

# Create dummy variables for the three weeks before and three weeks after the event
# Note: The fourth week before the event is the reference period (no dummy needed)
for i in range(-3, 4):
    if i != -4:  # Skip the reference week
        data2[f'event_week{i}'] = (data2['weeks_from_event'] == i).astype(int)

In [13]:
data2[['week', 'weeks_from_event', 'event_week-3', 'event_week-2', 'event_week-1', 'event_week1', 'event_week2', 'event_week3']].head()

,week,weeks_from_event,event_week-3,event_week-2,event_week-1,event_week1,event_week2,event_week3
0,2020-07-05,-95.0,0,0,0,0,0,0
1,2020-07-12,-94.0,0,0,0,0,0,0
2,2020-07-19,-93.0,0,0,0,0,0,0
3,2020-07-26,-92.0,0,0,0,0,0,0
4,2020-08-02,-91.0,0,0,0,0,0,0

In [14]:
data2[data2['event_week0'] != 0]

,week,ZCTA5CE10,total_count,total_population,crime_rate,e/pop_rate,un_rate,p_rate,in_median,in_mean,...,e/pop,y_hat,weeks_from_event,event_week-3,event_week-2,event_week-1,event_week0,event_week1,event_week2,event_week3
95,2022-05-01,10001,121.0,27004.0,44.808177,67.8,4.5,13.3,88526.0,151628.0,...,NaN,NaN,0.0,0,0,0,1,0,0,0
247,2022-05-01,10002,153.0,76518.0,19.995295,50.5,7.0,27.7,35859.0,68315.0,...,NaN,NaN,0.0,0,0,0,1,0,0,0
399,2022-05-01,10003,97.0,53877.0,18.003972,63.3,5.7,8.5,112131.0,189885.0,...,NaN,NaN,0.0,0,0,0,1,0,0,0
551,2022-05-01,10004,11.0,4579.0,24.022712,76.8,4.5,2.2,157645.0,218650.0,...,NaN,NaN,0.0,0,0,0,1,0,0,0
703,2022-05-01,10005,40.0,8801.0,45.449381,87.2,3.1,9.5,173333.0,208186.0,...,NaN,NaN,0.0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30947,2022-05-01,98146,1.0,28088.0,0.356024,NaN,5.0,12.9,67556.0,67556.0,...,64.8,14.761901,0.0,0,0,0,1,0,0,0
31099,2022-05-01,98155,3.0,35550.0,0.843882,NaN,4.5,7.0,86525.0,86525.0,...,66.2,6.760326,0.0,0,0,0,1,0,0,0
31251,2022-05-01,98177,7.0,21114.0,3.315336,NaN,3.2,5.9,109571.0,109571.0,...,62.4,10.760703,0.0,0,0,0,1,0,0,0
31403,2022-05-01,98178,8.0,26760.0,2.989537,NaN,4.2,12.3,75282.0,75282.0,...,65.5,17.644830,0.0,0,0,0,1,0,0,0
31555,2022-05-01,98199,24.0,22359.0,10.733933,NaN,3.4,5.5,108328.0,108328.0,...,69.0,9.096772,0.0,0,0,0,1,0,0,0

In [15]:
data2.to_csv('/Users/yujinlee/Google_Drive/NYU/Fall_2023/Capstone/CrimeData/clean/nyc_seattle_eventstudy_stata.csv', index=False)